<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>59</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>58</string>
					<key>Timestamp</key>
					<string>738271874.10966</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Memorize/Models/MemorizeGame.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                // MARK: - 更新得分 score += 2 ， 额外加上卡片的时间奖励
</string>
				<key>leading</key>
				<string>                cards[chosenIndex].isMatched = true
                cards[potentialMatchIndex].isMatched = true
</string>
				<key>trailing</key>
				<string>                score += 2 + cards[chosenIndex].bonus + cards[potentialMatchIndex].bonus
            } else {
                // 如果两张卡片不匹配，若卡片已经被察看过，分数 - 1
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>63</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>62</string>
					<key>Timestamp</key>
					<string>738271874.1096359</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Memorize/Models/MemorizeGame.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                // MARK: - 更新得分 score -= 1
</string>
				<key>leading</key>
				<string>            } else {
                // 如果两张卡片不匹配，若卡片已经被察看过，分数 - 1
</string>
				<key>trailing</key>
				<string>                if cards[chosenIndex].hasBeenSeen {
                    score -= 1
                }
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
